<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depression Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Health and Work Data Information</h1>
        <p>Please provide the information below:</p>

        <form method="POST" action="/predict">
            <label for="Gender">Gender:</label>
            <select name="Gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>

            <label for="Age">Age (in years):</label>
            <input type="number" name="Age" min="18" required>

            <label for="Work Pressure">Work Pressure (1 to 5):</label>
            <input type="number" name="Work Pressure" min="1" max="5" required>

            <label for="Job Satisfaction">Job Satisfaction (1 to 5):</label>
            <input type="number" name="Job Satisfaction" min="1" max="5" required>

            <label for="Sleep Duration">Sleep Duration:</label>
            <select name="Sleep Duration" required>
                <option value="Less than 5 hours">Less than 5 hours</option>
                <option value="5-6 hours">5-6 hours</option>
                <option value="7-8 hours">7-8 hours</option>
                <option value="More than 8 hours">More than 8 hours</option>
            </select>

            <label for="Dietary Habits">Dietary Habits:</label>
            <select name="Dietary Habits" required>
                <option value="Healthy">Healthy</option>
                <option value="Moderate">Moderate</option>
                <option value="Unhealthy">Unhealthy</option>
            </select>

            <label for="Have you ever had suicidal thoughts ?">Have you ever had suicidal thoughts ?</label>
            <select name="Have you ever had suicidal thoughts ?" required>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <label for="Work Hours">Work Hours (per day):</label>
            <input type="number" name="Work Hours" min="1" required>

            <label for="Financial Stress">Financial Stress (1 to 5):</label>
            <input type="number" name="Financial Stress" min="1" max="5" required>

            <label for="Family History of Mental Illness">Family History of Mental Illness:</label>
            <select name="Family History of Mental Illness" required>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <button type="submit">Predict Depression Risk</button>
        </form>

        {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
        {% endif %}
    </div>
</body>
</html>
